* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
}

h1, h2, ul, p {
    margin-bottom: 2%;
}

h1 {
    margin-top: 2%;
}

a {
    text-decoration: none;
    color: rgb(10, 141, 43);
}